<div>
	<div class="sidebar-title">explorer</div>

	<div
		class="title"
		(click)="toggleOpen()"
	>
		<div class="main-title">
			<div
				class="icon-container"
			>
				<fa-icon
					*ngIf="!isContentDisplayed"
					[icon]="faArrowRight"
				></fa-icon>

				<fa-icon
					*ngIf="isContentDisplayed"
					[icon]="faArrowDown"
				></fa-icon>
			</div>

			<div>
				project view
			</div>
		</div>

		<wp-clickable-element
			[wp-context-menu-3]="WorkspaceContextMenuComponent"
		>
			<div class="options"></div>
		</wp-clickable-element>
	</div>

	<div
		class="content"
		[class.is-visible]="isContentDisplayed"
	>
		<div>
			<wp-project-tree-content></wp-project-tree-content>
		</div>
	</div>
</div>

<!-- <wp-project-tree></wp-project-tree> -->
