<div>
	<div
		class="title"
		(click)="toggleOpen()"
	>
		<div class="main-title">
			<div
				class="icon-container"
			>
				<fa-icon
					*ngIf="!isContentDisplayed"
					[icon]="faArrowRight"
				></fa-icon>
		
				<fa-icon
					*ngIf="isContentDisplayed"
					[icon]="faArrowDown"
				></fa-icon>
			</div>
	
			<div>
				{{title}}
			</div>
		</div>

		<!-- TODO-4532 -->
		<wp-clickable-element
			[wp-context-menu-3]="WorkspaceContextMenuComponent"
		>
			<div class="options"></div>
		</wp-clickable-element>
	</div>

	<div
		*ngIf="isContentDisplayed"
		class="content"
	>
		<wp-multi-node-tree
			[itemTemplateRef]="itemTemplate"
			[indent]="2"
		></wp-multi-node-tree>

		<ng-template
			#itemTemplate
			let-itemData="data"
		>
			<wp-project-tree-item-2
				[data]="itemData"
			></wp-project-tree-item-2>
		</ng-template>
	</div>
</div>
