:host > div {
	display: flex;
	flex-direction: row;
	height: 100%;
	overflow: hidden;

	> .editor {
		width: 700px;
		// flex: 1;
		background-color: #336;
	}

	> .renderer {
		flex: 1;
		// min-width: 600px;
		background-color: white;
		position: relative;
	}
}
